@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Work+Sans:100,200,300,400,500,600");
:root {
  --headlinesFont: 'Josefin Sans', sans-serif;
  --bodyFont: 'Work Sans', sans-serif;
  --wildWatermelon: #ff4f87;
  --fuelYellow: #f0a035;
  --textColor: #323232;
  --white: #fff;
  --black: #000;
}



img {
  vertical-align: text-bottom;
}

a {
  color: inherit;
  text-decoration: none;
}



@media (min-width: 768px){
        .ft-recipe {
         flex: 0 0 50%;
         max-width: 50%;
            }
        }

@media (min-width: 992px){
          .ft-recipe {
              flex: 0 0 33.33333%;
              max-width: 33.33333%;
              }
          }

@media (min-width: 1200px){
            .ft-recipe {
                flex: 0 0 25%;
                max-width: 25%;
            }
        }
.ft-recipe {
  background: var(--white);
  display: block;
  float: left;
  box-sizing: inherit;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 50px;
}
.ft-recipe .ft-recipe__thumb {
  position: relative;
  height: 281px;
}
.ft-recipe .ft-recipe__thumb #close-modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  background: #000;
  color: var(--white);
  text-align: center;
  line-height: 36px;
  font-size: 22px;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.ft-recipe .ft-recipe__thumb #close-modal:hover {
  background: transparent;
  color: var(--black); 
}
.ft-recipe .ft-recipe__thumb h3 {
  text-align: center;
  position: absolute;
  margin: 0;
  width: 100%;
  color: var(--white);
  font-family: var(--headlinesFont);
  font-size: 25px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(transparent));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
  padding: 2.4rem 0 0;
}
.ft-recipe .ft-recipe__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.ft-recipe .ft-recipe__content {
  -webkit-box-flex: 1;
          flex: 1;
  padding: 0 2em 1em;
}
.ft-recipe .ft-recipe__content .content__header .recipe-title {
  display: -webkit-box;
  display: flex;
  padding: .55em 0 .3em;
  border-bottom: 1px solid #d8d8d8;
}
.ft-recipe .ft-recipe__content .content__header .recipe-title .recipe-title {
  font-family: var(--headlinesFont);
  font-weight: 600;
}
.ft-recipe .ft-recipe__content .content__header .recipe-details {
  display: -webkit-box;
  display: flex;
  list-style: none;
  padding: 1.4em 0 1em;
  margin: 0;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item {
  -webkit-box-flex: 1;
          flex: 1;
}
.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item i {
  font-size: 30px;
}
.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item .value {
  color: #ff4f87;
  margin-left: .35em;
  vertical-align: bottom;
  font-size: 24px;
  font-weight: 600;
}
.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item .title {
  display: block;
  margin-top: -4px;
  font-family: var(--headlinesFont);
  font-size: 17px;
  font-weight: 300;
}
.ft-recipe .ft-recipe__content .description {
  margin: .3em 0 1.8em;
}
.ft-recipe .ft-recipe__content .content__footer {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  width: 33%;
  margin: 0 3rem;
  float: left;
}
.ft-recipe .ft-recipe__content .content__footer a {
  font-family: var(--headlinesFont);
  display: inline-block;
  background: var(--wildWatermelon);
  padding: .45em 1em;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  letter-spacing: .2px;
  font-size: 14px;
  -webkit-transition: box-shadow 250ms ease, -webkit-transform 250ms ease;
  transition: box-shadow 250ms ease, -webkit-transform 250ms ease;
  transition: transform 250ms ease, box-shadow 250ms ease;
  transition: transform 250ms ease, box-shadow 250ms ease, -webkit-transform 250ms ease;
}
.ft-recipe .ft-recipe__content .content__footer a:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 10px 34px 0 rgba(255, 79, 135, 0.32);
}




.page.active {
	background-color: black !important;
    color: white;
	padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}


.description {
  font-family: "Work Sans"
}